In [3]:
import re
text = "555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"

### Q1

Matches the upper string from the above string, matches the middle non-numeric string, and ends with a lowercase letter

In [4]:
lname = re.findall(r'[A-Z]\D*[a-z]', text)

In [5]:
lname

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

### Q2

#### a

#### b

Match means that the match starts from the starting position, and the match starts with a lowercase letter and ends with a lowercase letter, ending with .

In [10]:
lb = list(map(lambda x: re.match(r'[A-Z][a-z]+\.', x) is not None, lname))
lb

[False, False, True, False, False, True]

#### c

If there is no title, the number of spaces in the matching name is 2; if there is a title, the number of spaces in the matching name is 3, so that you can know if there is a middle name.

In [9]:
lc = list(map(lambda x: (len(re.findall(r'\s', x)) == 2 and  re.match(r'[A-Z][a-z]+\.', x) is None) or len(re.findall(r'\s', x)) == 3 and  re.match(r'[A-Z][a-z]+\.', x) is not None,  lname))
lc

[False, True, False, False, False, False]

### Q3

In [12]:
s = "<title>+++BREAKING NEWS+++<title>"
re.search(r'<[a-z]+>', s).group(0)

'<title>'

Because'. +' matches all characters, '<. +> 'The match will be '<title> +++ BREAKING NEWS +++ \<title\>' the entire string. We can use the beginning of '<', the middle is composed of lowercase letters, and the end of '>' to match, you can get the final result.

### Q4

In [13]:
s = "(5-3)^2=5^2-2*5*3+3^2"
re.search(r'([^A-z]|\\^).+',s).group(0)

'(5-3)^2=5^2-2*5*3+3^2'

Many of the characters in the formula are also reserved characters of regular expressions.  Many of the characters in the formula are also reserved characters of regular expressions.  Rather than trying to literally name each operand of the formula and all digits, we can simply exclude alpha characters.